@model IEnumerable<LottoGistAdmin.DataAccess.RemoteModel.ForecastPadItemObj>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default" style="min-height: 500px">
    <div class="panel-heading">
        <div><span class="fa fa-user fa-2x" aria-hidden="true"></span> FORECAST PAD </div>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="padding-top: 20px">

                    <a class="btn btn-sm btn-success pull-right" href="@Url.Action("_AddForecastPad", "ForecastPad")" data-modal=""><i class="fa fa-plus"></i> New </a>
                </div>
            </div>
        </div>

        <div class="row ">

            <div class="col-sm-12">
                <div class="tab-content" style="min-height: 400px; background-color: #fff">
                    @{
                        var errorMessage = ViewBag.Error as string;
                        if (!string.IsNullOrEmpty(errorMessage) && errorMessage.Length > 1)
                        {
                            <div class="bs-callout bs-callout-danger ">
                                <h4>Error!</h4>
                                <p>@Html.Raw(errorMessage)</p>
                            </div>
                        }
                    }

                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    <div> OPERATOR </div>
                                </th>
                                <th>
                                    <div> GAME </div>
                                </th>
                                <th>
                                    <div> GAME TYPE </div>
                                </th>
                                <th>
                                    <div> DATE </div>
                                </th>
                                <th>
                                    <div> WINNING SET </div>
                                </th>
                                <th>
                                    <div> MACHINE SET </div>
                                </th>
                                <th style="width: 90px">
                                    <div>ACTION</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.OperatorShortName</td>
                                        <td>@item.GameShortName</td>
                                        <td>@item.GameTypeShortName</td>
                                        <td>@item.ForecastDate</td>
                                        <td>@item.WinningSet</td>
                                        <td>@item.MachineSet</td>
                                        <td>

                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                                    Action <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-default pull-right" role="menu">

                                                    <!-- EDITING LINK -->
                                                    <li>
                                                        <a href="@Url.Action("_EditForecastPad", "ForecastPad", new {forecastPadId = item.ForecastPadId})" data-modal="">
                                                            <i class="fa fa-edit"></i>
                                                            Edit
                                                        </a>
                                                    </li>

                                                    @*<li>
                                                            <a href="#" onclick="deleteItem('@item.ForecastPadId')">
                                                                <i class="fa fa-remove"></i>
                                                                Delete
                                                            </a>
                                                        </li>*@

                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="approveAgent" tabindex="-1" role="dialog" aria-hidden="true">
    <span id="approveModal"></span>
</div>
@section scripts {
    @*<script>
            function deleteItem(id) {
                if (id === "" || parseInt(id) < 1) {
                    InlineErrorMessage(data.Error ? data.Error : "Invalid Selection!", "dvError");
                    return false;
                }
                if (!confirm("Are you sure you want to delete this Forecast Expert Level?")) {
                    return false;
                }


                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ProcessDeleteRequest", "ForecastPad")',
                    data: JSON.stringify({ forecastPadId: id }),
                    contentType: "application/json; charset=utf-8",
                    success: function(data) {
                        if (!data.IsAuthenticated) {
                            window.location.href = "/Login";
                            return;
                        }
                        if (!data.IsSuccessful) {
                            InlineErrorMessage(data.Error ? data.Error : "Unknow error occured. Please try again later!",
                                "dvError");
                            swal({
                                    title: "",
                                    text: data.Error ? data.Error : "Unknow error occured. Please try again later!",
                                    type: "error",
                                    showCancelButton: false,
                                    confirmButtonText: "Close",
                                    closeOnConfirm: true,
                                },
                                function(isConfirm) {
                                    if (isConfirm) {

                                    }
                                });

                        } else {
                            $('#dvModal').modal('hide');
                            swal({
                                    title: "",
                                text: "Forecast pad was deleted successfully",
                                    type: "success",
                                    showCancelButton: false,
                                    confirmButtonText: "Ok",
                                    closeOnConfirm: false,
                                },
                                function(isConfirm) {
                                    if (isConfirm) {
                                        window.location.reload();
                                    }
                                });
                        }
                    },
                    complete: function() {
                        $(".loader").hide();
                        $("#loadingMessage").html("");
                    }
                });
                return false;
            }
        </script>*@
}


