@using System.Globalization
@model  LottoGistAdmin.Models.Portal.ChangePasswordContract
@{
    Layout = null;
    var error = ViewBag.Error as string;
    var hasError = !string.IsNullOrEmpty(error);
}

<div class="modal-dialog">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Change Password</h2>
        </div>


        <div class="panel-body">
            @if (hasError)
            {
                <div class="bs-callout bs-callout-danger" id="customError">
                    <h4>Error!</h4>
                    <p>@Html.Raw(error)</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
            else
            {
                 using (Html.BeginForm(null, null, FormMethod.Post, new {id = "frmChangePassword", data_parsley_validate = ""}))
                 {
                     <div class="col-md-12 col-sm-12 col-xs-12">
                         <div id="dvError"></div>
                         <div class="form-group">
                             Old Password
                             <input type="password" class="form-control " value="@Model.OldPassword" id="txtOldPassword" name="OldPassword" required="" data-parsley-required-message="Old Password is required">
                         </div>
                         <div class="form-group">
                             New Password
                             <input type="password" class="form-control " value="@Model.NewPassword" id="txtNewPassword" name="NewPassword" required="" data-parsley-required-message="New Password is required">
                         </div>
                         <div class="form-group">
                             Confirm Password
                             <input type="password" class="form-control " value="@Model.ConfirmPassword" id="txtConfirmPassword" name="ConfirmPassword" required="" data-parsley-required-message="Password Confirmation is required">
                         </div>
                         <div class="modal-footer">
                             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                             <button type="submit" class="btn btn-success" id="btnUpdate">Change Password</button>
                         </div>

                     </div>
                 }
                

            }

        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $('#frmChangePassword').parsley().on('field:validated', function() {
            var ok = $('.parsley-error').length === 0;
            $('.bs-callout-info').toggleClass('hidden', !ok);
            $('.bs-callout-danger').toggleClass('hidden', ok);
        }).on('form:submit', function () {
            ClearInlineError("dvError");

            var oldPassword = $("#txtOldPassword").val();
            var newPassword = $("#txtNewPassword").val();
            var confirmPassword = $("#txtConfirmPassword").val();

           if (oldPassword == null || oldPassword === "" || oldPassword.length < 3) {
                InlineErrorMessage("Old Password must be at least 3 characters", "dvError");
                return false;
            }

            if (newPassword == null || newPassword === "" || newPassword.length < 3) {
                InlineErrorMessage("New Password must be at least 3 characters", "dvError");
                return false;
            }

            if (confirmPassword == null || confirmPassword === "" || confirmPassword.length < 3) {
                InlineErrorMessage("Confirm Password must be at least 3 characters", "dvError");
                return false;
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("ProcessPasswordChangeRequest", "PortalAccess")',
                data: JSON.stringify({ myOldPassword: oldPassword, myNewPassword: newPassword, myConfirmPassword: confirmPassword }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (!data.IsAuthenticated) {
                        window.location.href = "/Login";
                        return;
                    }
                    if (!data.IsSuccessful) {
                        InlineErrorMessage(data.Error ? data.Error : "Unknow error occured. Please try again later!", "dvError");
                       swal({
                            title: "",
                            text: data.Error ? data.Error : "Unknow error occured. Please try again later!",
                            type: "error",
                            showCancelButton: false,
                            confirmButtonText: "Close",
                            closeOnConfirm: true,
                        }, function (isConfirm) {
                            if (isConfirm) {
                               // window.location.reload();
                            }
                        });

                    } else {
                        $('#dvModal').modal('hide');
                        swal({
                            title: "",
                            text: "Password was changed successfully",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "Ok",
                            closeOnConfirm: true,
                        }, function (isConfirm) {
                            if (isConfirm) {
                               // window.location.reload();
                            }
                        });
                    }
                },
                complete: function () {
                    $(".loader").hide();
                    $("#loadingMessage").html("");
                }
            });
            return false;
        });

       

    });


</script>






