@model  PPFrameworkManager.PortalObjs.RoleItemObj
@{
    Layout = null;
    var error = ViewBag.Error as string;
    var hasError = !string.IsNullOrEmpty(error);
}

<div class="modal-dialog">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2> Modify Role</h2>
        </div>


        <div class="panel-body">
            @if (hasError)
            {
                <div class="bs-callout bs-callout-danger" id="customError">
                    <h4>Error!</h4>
                    <p>@Html.Raw(error)</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
            else
            {
                using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEditRole", data_parsley_validate = "" }))
                {
                    @Html.Hidden("txtRoleId", Model.RoleId)
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div id="dvError"></div>
                        <div class="form-group">
                            Role Name
                            <input type="text" class="form-control " value="@Model.Name" id="txtRoleName" name="txtRoleName" required="" data-parsley-required-message="Role Name is required">
                        </div>
                        <div class="form-group">
                            Status
                            <input type="checkbox" @(Model.StatusVal ? "checked=\"checked\"" : "") id="chkStatus">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success" id="btnUpdate">Update Role</button>
                        </div>

                    </div>
                }


            }

        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $('#frmEditRole').parsley().on('field:validated', function() {
            var ok = $('.parsley-error').length === 0;
            $('.bs-callout-info').toggleClass('hidden', !ok);
            $('.bs-callout-danger').toggleClass('hidden', ok);
        }).on('form:submit', function () {
            ClearInlineError("dvError");

            var roleId = $("#txtRoleId").val();
            var roleName = $("#txtRoleName").val();
            var chkStatus = $("#chkStatus").is(':checked');

            if (roleId == null || roleId === "" || parseInt(roleId) < 1) {
                InlineErrorMessage("Invalid Role Selection", "dvError");
                return false;
            }

            if (roleName == null || roleName === "" || roleName.length < 2) {
                InlineErrorMessage("Role Name must be at least 2 characters", "dvError");
                return false;
            }

           
            //$(".loader").show();
            //$("#loadingMessage").html("Processing. Please wait");

            $.ajax({
                type: "POST",
                url: '@Url.Action("ProcessRoleUpdateRequest", "PortalRole")',
                data: JSON.stringify({ myRoleId: roleId, myRoleName: roleName, myRoleStatus: chkStatus }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (!data.IsAuthenticated) {
                        window.location.href = "/Login";
                        return;
                    }
                    if (!data.IsSuccessful) {
                        InlineErrorMessage(data.Error ? data.Error : "Unknow error occured. Please try again later!", "dvError");
                       swal({
                            title: "",
                            text: data.Error ? data.Error : "Unknow error occured. Please try again later!",
                            type: "error",
                            showCancelButton: false,
                            confirmButtonText: "Close",
                            closeOnConfirm: true,
                        }, function (isConfirm) {
                            if (isConfirm) {
                              
                            }
                        });

                    } else {
                        $('#dvModal').modal('hide');
                        swal({
                            title: "",
                            text: "Role was modified successfully",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "Ok",
                            closeOnConfirm: false,
                        }, function (isConfirm) {
                            if (isConfirm) {
                               window.location.reload();
                            }
                        });
                    }
                },
                complete: function () {
                    $(".loader").hide();
                    $("#loadingMessage").html("");
                }
            });
            return false;
        });



    });


</script>







