@model  LottoGistAdmin.DataAccess.RemoteModel.EChartItemObj
@{
     
                Layout = null;
                var error = ViewBag.Error as string;
                var hasError = !string.IsNullOrEmpty(error);
}

<div class="modal-dialog modal-lg">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2> MODIFY ECHART</h2>
        </div>

        <div class="panel-body">
            @if (hasError)
            {
                <div class="bs-callout bs-callout-danger" id="customError">
                    <h4>Error!</h4>
                    <p>@Html.Raw(error)</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
            else
            {
                using (Html.BeginForm(null, null, new { @id = "frmEditChart", data_parsley_validate = "" }))
                {
                    @Html.Hidden("EChartId", Model.EChartId)
                    @Html.Hidden("GameId", Model.GameId)
                    @Html.Hidden("GameTypeId", Model.GameTypeId)
                    @Html.Hidden("OperatorId", Model.OperatorId)
                    @Html.Hidden("GameScheduleId", Model.GameScheduleId)
                    <div id="dvError"></div>
                    <div class="row">

                        <div class="col-md-6">

                            <div class="row">

                                <div class="col-md-6">
                                    DATE
                                    <div class="form-group">
                                        <div class="input-group date chartDatePicker" id='ChartDate' data-date-format="dd/mm/yyyy">
                                            @Html.TextBoxFor(model => model.ChartDate, new { @class = "form-control" })
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    GAME
                                    <div class="form-group">
                                        <input type="text" class="form-control" disabled value="@Model.GameName" id="GameName" name="GameName" required="" data-parsley-required-message="Please check Game name">
                                    </div>
                                </div>


                            </div>

                            TITLE
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <input type="text" class="form-control" value="@Model.Title" id="Title" name="Title" required="" data-parsley-required-message="Please check Chart Title">
                                </div>
                            </div>


                            BANKER
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <input type="text" size="2" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.BankerValue" id="BankerValue" name="BankerValue" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                            </div>

                            TWO SURE
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.TwoSureValueA" id="TwoSureValueA" name="TwoSureValueA" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">

                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.TwoSureValueB" id="TwoSureValueB" name="TwoSureValueB" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                            </div>

                            THREE DIRECT
                            <div class="row">
                                <div class="form-group col-md-2 ">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.ThreeDirectValueA" id="ThreeDirectValueA" name="ThreeDirectValueA" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">

                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.ThreeDirectValueB" id="ThreeDirectValueB" name="ThreeDirectValueB" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">

                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.ThreeDirectValueC" id="ThreeDirectValueC" name="ThreeDirectValueC" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                            </div>

                            PERM
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.PermValueA" id="PermValueA" name="PermValueA" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.PermValueB" id="PermValueB" name="PermValueB" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.PermValueC" id="PermValueC" name="PermValueC" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.PermValueD" id="PermValueD" name="PermValueD" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.PermValueE" id="PermValueE" name="PermValueE" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                            </div>
                            <div class="form-group">
                                STATUS
                                @Html.CheckBox("StatusVal", Model.StatusVal, new { htmlAttributes = new { @id = "StatusVal", @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            POSITIVE ONES
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.PositiveOnesValueA" id="PositiveOnesValueA" name="PositiveOnesValueA" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.PositiveOnesValueB" id="PositiveOnesValueB" name="PositiveOnesValueB" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.PositiveOnesValueC" id="PositiveOnesValueC" name="PositiveOnesValueC" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.PositiveOnesValueD" id="PositiveOnesValueD" name="PositiveOnesValueD" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.PositiveOnesValueE" id="PositiveOnesValueE" name="PositiveOnesValueE" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                            </div>

                            SUPER FIVE
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.SuperFiveValueA" id="SuperFiveValueA" name="SuperFiveValueA" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.SuperFiveValueB" id="SuperFiveValueB" name="SuperFiveValueB" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.SuperFiveValueC" id="SuperFiveValueC" name="SuperFiveValueC" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.SuperFiveValueD" id="SuperFiveValueD" name="SuperFiveValueD" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.SuperFiveValueE" id="SuperFiveValueE" name="SuperFiveValueE" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                            </div>

                            <div class="form-group">
                                ------------------------------------LAST RESULTS----------------------------------------
                            </div>
                            SUCCESS
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.LastSuccessResultA" id="LastSuccessResultA" name="LastSuccessResultA" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.LastSuccessResultB" id="LastSuccessResultB" name="LastSuccessResultB" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.LastSuccessResultC" id="LastSuccessResultC" name="LastSuccessResultC" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.LastSuccessResultD" id="LastSuccessResultD" name="LastSuccessResultD" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" class="form-control input-sm" value="@Model.LastSuccessResultE" id="LastSuccessResultE" name="LastSuccessResultE" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                            </div>

                            MACHINE
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" min="1" max="90" class="form-control input-sm" value="@Model.LastMachineResultA" id="LastMachineResultA" name="LastMachineResultA" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" min="1" max="90" class="form-control input-sm" value="@Model.LastMachineResultB" id="LastMachineResultB" name="LastMachineResultB" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" min="1" max="90" class="form-control input-sm" value="@Model.LastMachineResultC" id="LastMachineResultC" name="LastMachineResultC" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" min="1" max="90" class="form-control input-sm" value="@Model.LastMachineResultD" id="LastMachineResultD" name="LastMachineResultD" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="number" maxlength="2" minlength="2" min="1" max="90" class="form-control input-sm" value="@Model.LastMachineResultE" id="LastMachineResultE" name="LastMachineResultE" required="" data-parsley-required-message="Btw (01 & 90)">
                                </div>
                            </div>
                            MESSAGE
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <textarea rows="2" style="resize:vertical" class="form-control" id="Message" name="Message" required="" data-parsley-required-message="Please check Chart Message">@Model.Message</textarea>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"> <i class="fa fa-remove"></i> Close</button>
                        <button type="submit" class="btn btn-success" id="btnUpdate"> <i class="fa fa-check"></i>Update</button>
                    </div>
                }

            }

        </div>
    </div>
</div>

@*@section scripts {


        <script>
            $(document).ready(function() {
                $('.chartDatePicker').datepicker({
                    calendarWeeks: true,
                    todayHighlight: true,
                    autoclose: true
                });
            });


            $('#frmEditChart').parsley().on('field:validated',

                function() {
                    var ok = $('.parsley-error').length === 0;
                    $('.bs-callout-info').toggleClass('hidden', !ok);
                    $('.bs-callout-danger').toggleClass('hidden', ok);
                }).on('form:submit',
                function() {
                    ClearInlineError("dvError");

                    var frm = $("#frmEditChart");
                    if (!frm.valid()) {
                        InlineErrorMessage("Validation Error! Please check all fields", "dvError");
                        return false;
                    }
                    var param = frm.serializeArray();
                    alert("ok");
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ProcessUpdateRequest", "ManageEChart")',
                        data: param,
                        success: function(data) {
                            if (!data.IsAuthenticated) {
                                window.location.href = "/Login";
                                return;
                            }
                            if (!data.IsSuccessful) {
                                InlineErrorMessage(
                                    data.Error ? data.Error : "Unknow error occured. Please try again later!",
                                    "dvError");
                                swal({
                                        title: "",
                                        text: data.Error ? data.Error : "Unknow error occured. Please try again later!",
                                        type: "error",
                                        showCancelButton: false,
                                        confirmButtonText: "Close",
                                        closeOnConfirm: true,
                                    },
                                    function(isConfirm) {
                                        if (isConfirm) {
                                        }
                                    });

                            } else {
                                $('#dvModal').modal('hide');
                                swal({
                                        title: "",
                                        text: "Chart was successfully modified",
                                        type: "success",
                                        showCancelButton: false,
                                        confirmButtonText: "Ok",
                                        closeOnConfirm: false,
                                    },
                                    function(isConfirm) {
                                        if (isConfirm) {
                                            window.location.reload();
                                        }
                                    });
                            }
                        },
                        complete: function() {
                            $(".loader").hide();
                            $("#loadingMessage").html("");
                        }
                    });
                    return false;
                });

        </script>

    }*@
<script>
    $(document).ready(function () {
        $('.chartDatePicker').datepicker({
            calendarWeeks: true,
            todayHighlight: true,
            autoclose: true
        });

        $('#frmEditChart').parsley().on('field:validated', function() {
            var ok = $('.parsley-error').length === 0;
            $('.bs-callout-info').toggleClass('hidden', !ok);
            $('.bs-callout-danger').toggleClass('hidden', ok);
        }).on('form:submit', function () {
            ClearInlineError("dvError");

           var frm = $("#frmEditChart");

            if (!frm.valid()) {
                InlineErrorMessage("Validation Error! Please check all fields", "dvError");
                return false;
            }

            var param = frm.serializeArray();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ProcessUpdateRequest", "ManageEChart")',
                data: param,
                success: function (data) {
                    if (!data.IsAuthenticated) {
                        window.location.href = "/Login";
                        return;
                    }
                    if (!data.IsSuccessful) {
                        InlineErrorMessage(data.Error ? data.Error : "Unknow error occured. Please try again later!", "dvError");
                       swal({
                            title: "",
                            text: data.Error ? data.Error : "Unknow error occured. Please try again later!",
                            type: "error",
                            showCancelButton: false,
                            confirmButtonText: "Close",
                            closeOnConfirm: true,
                        }, function (isConfirm) {
                            if (isConfirm) {
                            }
                        });

                    } else {
                        $('#dvModal').modal('hide');
                        swal({
                            title: "",
                            text: "Chart was modified successfully",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "Ok",
                            closeOnConfirm: false,
                        }, function (isConfirm) {
                            if (isConfirm) {
                               window.location.reload();
                            }
                        });
                    }
                },
                complete: function () {
                    $(".loader").hide();
                    $("#loadingMessage").html("");
                }
            });
            return false;
        });



    });


</script>






