@model IEnumerable<LottoGistAdmin.DataAccess.RemoteModel.GameScheduleItemObj>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="hidden" value="@ViewBag.recordCount" id="txtRecordCount" />
<div class="panel panel-default" style="min-height: 500px">
    <div class="panel-heading">
        <div><span class="fa fa-user fa-2x" aria-hidden="true"></span> <b>GAME SCHEDULE</b></div>
    </div>
    <div class="panel-body table-responsive">
        <div class="row ">
            <div class="col-sm-12"><a class="btn btn-sm btn-success pull-right" href="@Url.Action("_AddGameSchedule", "GameSchedule")" data-modal=""><i class="fa fa-plus" margright10></i> New </a></div>

            <div class="col-sm-12">
                <div class="tab-content" style="min-height: 400px; background-color: #fff">
                    @{
                        var errorMessage = ViewBag.Error as string;
                        if (!string.IsNullOrEmpty(errorMessage) && errorMessage.Length > 1)
                        {
                            <div class="bs-callout bs-callout-danger ">
                                <h4>Error!</h4>
                                <p>@Html.Raw(errorMessage)</p>
                            </div>
                        }
                    }

                    <table id="datatable-responsive" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    <b>ORDER</b>
                                </th>
                                <th>
                                    <b>DAY</b>
                                </th>
                                <th>
                                    <b>TIME</b>
                                </th>
                                <th>
                                    <b>GAME</b>
                                </th>
                                <th>
                                    <b>OPERATOR</b>
                                </th>
                                <th>
                                    <b>STATUS</b>
                                </th>

                                <th style="width:90px">
                                    <b>ACTION</b>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ScheduleOrder</td>
                                        <td>@item.GameDayLabel</td>
                                        <td>@item.ScheduleTime</td>
                                        <td>@item.GameName</td>
                                        <td>@item.OperatorName</td>
                                        <td>@item.StatusLabel</td>
                                        <td>

                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                                    Action <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-default pull-right" role="menu">

                                                    <!-- EDITING LINK -->
                                                    <li>
                                                        <a href="@Url.Action("_EditGameSchedule", "GameSchedule", new { gameScheduleId = item.GameScheduleId })" data-modal="">
                                                            <i class="fa fa-edit"></i>
                                                            Edit
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" onclick="deleteItem('@item.GameScheduleId')">
                                                            <i class="fa fa-remove"></i>
                                                            Delete
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>

                                        </td>
                                    </tr>

                                }
                            }
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="20">No matching record found!</td>

                            </tr>

                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="approveAgent" tabindex="-1" role="dialog" aria-hidden="true">
    <span id="approveModal"></span>
</div>

@section scripts {
<script>

    $(document).ready(function() {
        if ($('#txtRecordCount').val() > 0) {
            $('#datatable-responsive').DataTable();
        }

    });

    function deleteItem(id) {
        if (id === "" || parseInt(id) < 1) {
            InlineErrorMessage(data.Error ? data.Error : "Invalid Selection!", "dvError");
            return false;
        }
        if (!confirm("Are you sure you want to delete this Game Schedule?")) {
            return false;
        }



        $.ajax({
            type: "POST",
            url: '@Url.Action("ProcessDeleteRequest", "GameSchedule")',
            data: JSON.stringify({ gameScheduleId: id}),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (!data.IsAuthenticated) {
                    window.location.href = "/Login";
                    return;
                }
                if (!data.IsSuccessful) {
                    InlineErrorMessage(data.Error ? data.Error : "Unknow error occured. Please try again later!", "dvError");
                    swal({
                        title: "",
                        text: data.Error ? data.Error : "Unknow error occured. Please try again later!",
                        type: "error",
                        showCancelButton: false,
                        confirmButtonText: "Close",
                        closeOnConfirm: true,
                    }, function (isConfirm) {
                        if (isConfirm) {

                        }
                    });

                } else {
                    $('#dvModal').modal('hide');
                    swal({
                        title: "",
                        text: "Game Schedule was deleted successfully",
                        type: "success",
                        showCancelButton: false,
                        confirmButtonText: "Ok",
                        closeOnConfirm: false,
                    }, function (isConfirm) {
                        if (isConfirm) {
                            window.location.reload();
                        }
                    });
                }
            },
            complete: function () {
                $(".loader").hide();
                $("#loadingMessage").html("");
            }
        });
        return false;
    }
</script>
}